h1 {
    background-color: gold;
}
.p{
    background-color: red;
}
#id{
    background-color: brown;
}
.Azul{
    background-color:  blue;
}
.vermelho{
    background-color: red;
    text-align: center;
}
.ads{
    text-align: center;
}
.java{
    border-radius: 50px;
    justify-content: center;
}
.ref{
    width: 450px;height: 300px;
    border-radius: 50px; ; 
}
.sub{
    color: red;
}
.horizontal{
    flex-direction:row;
}
.vertical {
    float: left;
    flex-direction: column;
}
.flex-container{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.name{
    color: white;
}
.black{
    background-color: black;
}


